body {
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
a {
    text-decoration: none;
    font-size: 20px;
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    padding: 10px;
    color: rgb(0, 173, 0);
    border-radius: 10px;
}
a:hover {
    background-color: rgb(123, 123, 123);
    box-shadow: 25px 35px 0 0 golg;
    transition: all 3s linear;

}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(120, 165, 255);
    margin: 30px;
    padding: 10px;
}
